{{define "formula" -}}
class {{.ClassName}} < Formula
  {{$num_drivers := len .Drivers -}}
  {{$desc := printf "Database migrations CLIs for %s" (join .Drivers ", ") -}}
  {{if eq $num_drivers 1 -}}
  {{$desc = printf "Database migrations CLI for %s" (index .Drivers 0) -}}
  {{end -}}
  desc "{{$desc}}"
  homepage "https://github.com/rafaelespinoza/godfish"
  version "{{.Version}}"
  license "ISC"

  if OS.mac? && Hardware::CPU.intel?
    {{$release := .ReleaseAssets.MacOSIntel -}}
    url "{{$release.URL}}"
    sha256 "{{$release.SHA256}}"
  end

  if OS.mac? && Hardware::CPU.arm?
    {{$release := .ReleaseAssets.MacOSARM -}}
    url "{{$release.URL}}"
    sha256 "{{$release.SHA256}}"
  end

  if OS.linux? && Hardware::CPU.intel?
    {{$release := .ReleaseAssets.LinuxIntel -}}
    url "{{$release.URL}}"
    sha256 "{{$release.SHA256}}"
  end

  if OS.linux? && Hardware::CPU.arm?
    {{$release := .ReleaseAssets.LinuxARM -}}
    url "{{$release.URL}}"
    sha256 "{{$release.SHA256}}"
  end
  {{- /*
  # TODO: figure out how to detect a Windows-like platform for Homebrew.
  # if OS.wsl? && Hardware::CPU.intel?
  #   {{$release := .ReleaseAssets.WSLIntel -}}
  #   url "{{$release.URL}}"
  #   sha256 "{{$release.SHA256}}"
  # end

  # if OS.wsl? && Hardware::CPU.arm?
  #   {{$release := .ReleaseAssets.WSLARM -}}
  #   url "{{$release.URL}}"
  #   sha256 "{{$release.SHA256}}"
  # end
  */}}

  def install
    {{- if eq $num_drivers 1}}
    # Homebrew extracts the entire multi-binary archive. Cherry-pick only
    # the targeted binary into the installation path.
    {{$driver := index .Drivers 0 -}}
    driver_bin = "{{bin_name_driver $driver}}"
    bin.install driver_bin

    # Generate, install shell autocompletion scripts.
    %w[bash fish zsh].each do |sh|
      generate_completions_from_executable(bin/driver_bin.to_s, "completion", sh, shells: [sh.to_sym])
    end
    {{- else}}
    bin.install "{{bin_name_main}}"

    # Copy shell autocompletion scripts.
    src_autocomplete_dir = "completions"
    bash_completion.install "#{src_autocomplete_dir}/godfish.bash" => "godfish"
    fish_completion.install "#{src_autocomplete_dir}/godfish.fish" => "godfish.fish"
    zsh_completion.install "#{src_autocomplete_dir}/godfish.zsh" => "_godfish"
    {{- end}}
  end

  test do
    {{- if eq $num_drivers 1}}
    {{$driver := index .Drivers 0 -}}
    assert_match(/Driver:.*{{$driver}}/, shell_output("#{bin}/{{bin_name_driver $driver}} version 2>&1"))
    {{- else}}
    %w[{{join .Drivers " "}}].each do |driver|
      # Execute the main godfish cmd for each driver name
      output = shell_output("#{bin}/godfish #{driver} version 2>&1")

      # Assert the output matches the expected /Driver:.*${driver_name}/ pattern
      assert_match(/Driver:.*#{driver}/, output)
    end
    {{- end}}
  end
end
{{end}}
